h1, h2 {
	color: grey;
	background-color: white;
	font-size: 170%;
	font-family: times new roman;
}

div {
	color: grey;
	background-color: white;
	font-size: 100%;
	font-family: times new roman;
}

a {
	outline: 2px lightgrey;
	outline-style: double;
	text-decoration: none;
	display: inline-block;
	width: 20%;
	margin-right: 1%;
	text-align: center;
	line-height: 3;
	color: black;
}

a:visited {
	color: black;
}

a:hover,
a:active,
a:focus {
	color: darkblue;
	text-decoration: none;
}

.youtube {
	color: blue;
	font-weight: bold;
}

img {
	width: 30%;
	height: auto;
}
